.app_dark_theme {
    --bg-color: rgb(16, 49, 119);
    --inverted-bg-color: rgb(230, 230, 230);
    --primary-color: rgb(216, 201, 253);
    --secondary-color: rgb(146, 145, 202);
    --inverted-primary-color: rgb(53, 2, 184);
    --inverted-secondary-color: rgb(156, 155, 253);

    // skeleton
    --skeleton-color: #1515ad;
    --skeleton-shadow: #2b2be8;

    // code
    --code-bg: #1212a1;
}
