.ProfileCard {
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
}

.header {
    display: flex;
    align-items: center;
}

.data {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.editBtn {
    margin-left: auto;
}

.input {
    margin-top: 10px;
}
