.ProfileCard {
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
}

.editing {
    border-color: var(--inverted-primary-color);
}

.data {
    display: flex;
    flex-direction: column;
}

.input:not(:first-child) {
    margin-top: 10px;
}

.loading,
.error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 168px;
}

.avatarWrapper {
    display: flex;
    justify-content: center;
}
